@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

#root {
  width: 100vw;
  height: 100vh;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}
